<%- include("partials/header")-%>

<h1>HOME</h1>

<p></p>
 
 <% posts.forEach(post=>{ %>  
    <p></p><h3><%=post.title%></h3><p></p>
         <i><%=post.composeText%>...<a href="/post/<%=post.title%>">Read More</a></i>
         
 <% }); %>
 
<%- include("partials/footer") -%>